# Tests and development
__tests__/
/dist
node_modules/
src/*
!src/components
.env*

# Github workspace
.github/

# Editor directories and files
.idea
.vscode/

# Other files
.eslint*
.gitattributes
.markdownlint.yml
.prettierrc
*.html
*?config?*